name: TMATE-PUTTY-BAGLANTISI

on:
  workflow_dispatch:

jobs:
  terminal:
    runs-on: ubuntu-latest
    steps:
      - name: Terminali Ac ve Bekle
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: false
